# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
cdp_api_key.json

# Project-specific directories
# We ignore the contents, but track the empty dirs with .gitkeep
db/*
!db/.gitkeep
logs/*
!logs/.gitkeep

# IDE settings
.vscode/